* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
 
/* body */
body{
    align-items: center;
    max-width: 500px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    background: #e2e2e271;
}

/* header */

header{
    width: 100%;
    display: flex;
    justify-content:space-between ;
}
header p{
    color: #000;
font-family: Golos;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.headerLogo{
    align-items: center;
}
.headerLink{
    width: 40%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
#headerLinkkategoryTwo{
    margin-left: 10px;
}
#headerLinkkategoryThree{
    margin-left: 10px;
    margin-right: 10px;
}
.headerLogIn{
    width: 10%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.headerLogInImgBlock{
    margin-left: 10px;
}

.kourText{
    text-align: center;
    margin-top: 40px;
    color: #000;
font-family: Golos;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.kourText{
    margin-top: 40px;
    align-items: center;
}
.kourBlock{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    text-align: center;
}
.kourBlockPrewInfo{
/*     border-radius: 7px; */
    border-radius: 21px 21px 2px 2px;
    border: 5px solid rgba(119, 172, 241, 0.34);
    background: #FFF;
}
.kourBlockPrewInfo h2{
    color: rgba(0, 0, 0, 0.65);
    font-family: Golos;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.kourBlockPrewInfo p{
    color: rgba(0, 0, 0, 0.80);
font-family: Golos;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 5px;
margin-bottom: 5px;
}
.kourBlockRazInpBat{
    border-radius: 2px 2px 21px 21px;
border: 5px solid rgba(119, 172, 241, 0.34);
background: rgba(255, 255, 255, 0.94);
}
.kourBlockPodInfo h2{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.65);
    font-family: Golos;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.kourBlockPodInfo p{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.65);
    font-family: Golos;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.KourCheck{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.KourCheck input{
    margin-right: 10px;
    height: 20px;
}
.KourCheck p{
    color: rgba(0, 0, 0, 0.65);
text-align: center;
font-family: Golos;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 2px;
}

.kourBut{
    width: 40%;
    border-radius: 26px;
border: 2px solid #77ACF1;
background: rgba(0, 67, 250, 0.80);
    color: #FFF;
text-align: center;
font-family: Golos;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 10px;
margin-bottom: 20px;
}